<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <form action="/" method="post">
    <input
      type="text"
      name="new-item"
      placeholder="Enter new todo item..."
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>

  <% for (let i = 0; i < todos.length; i++) { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= todos[i] %></p>
  </div>
  <% } %>
</div>
